*{
      font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
   background: rgb(133,133,133);
   background: radial-gradient(circle, rgba(133,133,133,1) 0%, rgba(15,23,33,1) 100%);
    font-family: "Lucida Console", "Courier New", monospace;
}
header {
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 50px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan */
}

.menu-list {
   list-style: none;
   padding: 0;
   margin: 0;
}

.menu-list li {
   margin-bottom: 10px;
   border-radius: 20px;
   overflow: hidden; 
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.menu-list a {
   color: white;
   display: block;
   padding: 10px 20px;
   transition: background-color 0.3s, transform 0.3s; 
   text-decoration: none; 
}

.menu-list a:hover {
   background-color: #f8f9fa; 
   transform: translateY(-3px); 
}


.card {
    background-color: #fff;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
  }
  .l-bg-cherry {
    background: linear-gradient(to right, #493240, #f09) !important;
    color: #fff;
 }

 .l-bg-blue-dark {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
 }

 .l-bg-green-dark {
    background: linear-gradient(to right, #0a504a, #38ef7d) !important;
    color: #fff;
 }

 .l-bg-orange-dark {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: #fff;
 }
 .l-bg-danger-dark {
    background: linear-gradient(to right, #a80808, #ff7d56) !important;
    color: #fff;
 }

 .card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
    font-size: 110px;
 }

 .card .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: -5px;
    top: 20px;
    opacity: 0.1;
 }

 .l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
 }

 .l-bg-green {
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
    color: #fff;
 }

  .l-bg-orange {
    background: linear-gradient(to right, #f9900e, #ffba56) !important;
    color: #fff;
 }

 .l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
 }

 .logout-btn {
   position: absolute;
   top: 20%;
   right: 20px;
   color: black;
   background-color: white;
   border: none;
   border-radius: 10px;
   padding: 5px 5px;
   transition: background-color 0.3s;
}
